.mood-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.buttons {
  grid-row-start: 1 span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px;
}