* {
  font-family: 'Ticketing';
  color: #313638
}

body {
  background-color: #fdfdfd;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 1rem;
}

.instructions-closed {
  background: #fdfdfd;
  color: #313638;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 2px;
}

.instructions-open {
  background: grey;
  color: #fdfdfd;
  border-style: solid;
  border-width: 1px;
  border-color: #313638;
  border-radius: 2px;
}

.instructions-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75rem;
}

.mood-buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.buttons {
  grid-row-start: 1 span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mood-button-text {
  grid-row-start: 2 span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 22px;
  margin: 0 17px 0 17px;
}

.mood-button-text p {
  font-size: 0.7rem;
}