.instructions-closed {
  background: #fdfdfd;
  color: #313638;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 2px;
}

.instructions-open {
  background: #729ea1;
  color: #fdfdfd;
  border-style: solid;
  border-width: 1px;
  border-color: #313638;
  border-radius: 2px;
}

.instructions-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.75rem;
}