* {
  font-family: 'Ticketing';
  color: #313638
}

body {
  height: 100vh;
  /* background: #fdfdfd; */
  background-image: linear-gradient(#fdfdfd, #ffeded);
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 1rem;
}