@font-face {
  font-family: 'Ticketing';
      src: url('fonts/Ticketing.ttf');
      src: url('fonts/Ticketing.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}